/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Import Font */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.otf);
}


/* HTML, Body */
html {
    position: relative;
}

body {
    background: #fafafa;
    font-family: 'Montserrat-Bold', sans-serif;
    overflow-x: hidden;
}

/* Batu Gunting Kertas */
/* Title */
.title h1 {
    font-size: 3rem;
    text-align: center;
    color: #000;
    text-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* Container */
.container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
    position: relative;
    padding-bottom: 50px;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

/* Score */
.score {
    margin: 50px auto 25px;
    padding: 10px 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    color: rgba(0, 0, 0, 0.9);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
    box-sizing: border-box;
    -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

/* Computer Area */
.computer-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
    position: relative;
    box-sizing: border-box;
    border-radius: 40px;
    -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* Player Area */
.player-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0 );
    border-radius: 40px;
    -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.player-area ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Hasil Menang atau Kalah */
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 250px;
    height: 40px;
    box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 30px;;
    text-align: center;
    color: #000;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.9);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
}

/* Image */
.computer-area img,
.player-area img {
    width: 120px;
    height: 120px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.5);
}

.player-area li {
    margin: 0 25px;
}

.batu, .gunting, .kertas {
    transition: .3s;
    position: relative;
    top: 0;
    cursor: pointer;
}

.batu:hover, .gunting:hover, .kertas:hover, .active {
    -webkit-box-shadow: inset 0px 10px 30px -10px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 10px 30px -10px rgba(0,0,0,0.1);
    box-shadow: 0 5px 25px -10px rgba(0, 0, 0, 0.8),
                inset 0px 10px 30px -10px rgba(0,0,0,0.1);
}

.batu:active, .gunting:active, .kertas:active {
    top: 5px;
}

/* Refresh Button */
.refresh {
    margin: 25px auto 0;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    color: rgba(0, 0, 0, 0.9);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
    box-sizing: border-box;
    -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.33);
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transition: .3s;
}

.refresh a {
    width: 100%;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

.refresh:hover {
    -webkit-box-shadow: inset 0px 10px 30px -10px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 10px 30px -10px rgba(0,0,0,0.1);
    box-shadow: 0 5px 25px -10px rgba(0, 0, 0, 0.8),
                inset 0px 10px 30px -10px rgba(0,0,0,0.1);
}

.refresh:active {
    top: 5px;
}


/* Responsive */
/* Ukuran Tablet */
@media ( max-width: 768px ) {
    .computer-area img,
    .player-area img {
        width: 110px;
        height: 110px;
    }

    .player-area {
        padding: 20px 5px;
     }

    .container {
        width: 500px;
    }
}

/* Ukuran Mobile */
@media ( max-width: 576px ) {
     .container {
        width: 80%;
     }

     .title h1 {
        font-size: 2.3rem;
     }

     .player-area {
        padding: 20px;
     }

     .player-area ul {
        flex-direction: column;
     }

     .player-area ul li {
        padding-bottom: 20px;
     }
}

@media ( max-width: 365px ) {
     .title h1 {
        font-size: 2.3rem;
     }

    .computer-area img,
    .player-area img {
        width: 80px;
        height: 80px;
    }

    .computer-area {
        padding: 20px 30px;
    }

    .player-area {
        padding: 10px;
     }

     .player-area ul li {
        padding-bottom: 10px;
     }

     .score h4,
     .refresh a {
        font-size: 14px;
     }

     .result {
        width: 150px;
        height: 40px;
        font-size: 15px;
     }
}
